.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.logoContainer {
    text-align: center;
    position: relative;
}

.logoText {
    font-family: var(--font-heading);
    font-size: 3rem;
    color: var(--color-royal-blue);
    margin-bottom: 1rem;
}

.logoText span {
    color: var(--color-yellow);
}

.logo {
    width: 150px;
    /* Adjust based on your logo size */
    margin-bottom: 1rem;
}

.progressBar {
    height: 4px;
    background-color: var(--color-red);
    border-radius: 2px;
    margin: 0 auto;
    max-width: 200px;
    /* Match logo width roughly */
}